{% load static %}

<link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/css/boostrap.min.css' %}">
<link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/css/css/mixins/boostrap.min.css' %}">
<link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/fonts/flaticon/font/boostrap.min.css' %}">
<link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/fonts/flaticon/license/boostrap.min.css' %}">
<link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/fonts/icomoon/boostrap.min.css' %}">
<link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/fonts/ionicons/css/boostrap.min.css' %}">
<link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/fonts/ionicons/fonts/boostrap.min.css' %}">
<link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/fonts/open-iconic/boostrap.min.css' %}">
<link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/images/boostrap.min.css' %}">
<link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/js/boostrap.min.css' %}">
<link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/scss/bootstrap/mixins/boostrap.min.css' %}">
<link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/scss/bootstrap/utilities/boostrap.min.css' %}">

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Paglakbay</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/css/open-iconic-boostrap.min.css' %}">

    <link rel="stylesheet" href="css/animate.css">
    <link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/css/animate.css' %}">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/css/owl.carousel.min.css' %}">

    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/css/magnific-popup.css' %}">

    <link rel="stylesheet" href="css/aos.css">
    <link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/css/aos.css' %}">

    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/css/ionicons.min.css' %}">
    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/css/flaticon.css' %}">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/css/icomoon.css' %}">
    <link rel="stylesheet" href="css/style.css">
    <link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/ecoland-master/css/style.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
        <div class="container">
          <a class="navbar-brand" href="index.html">Paglakbay</a>
          <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
          </button>

          <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav nav ml-auto">
              <li class="nav-item"><a href="{% url 'my_index_view' %}" class="nav-link"><span>Home</span></a></li>
              

            </ul>
          </div>
        </div>
      </nav>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sign Up </title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
     <link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/startbootstrap-sb-admin-2-gh-pages/vendor/fontawesome-free/css/all.min.css' %}">

    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">


    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href="{% static 'myapp1/startbootstrap-sb-admin-2-gh-pages/css/sb-admin-2.min.css' %}">  

</head>

<body class="bg-gradient-primary">
    <style>


    .bg-gradient-primary {
    background-color: #e2c0bb;
    background-image: linear-gradient(
180deg,#e2c0bb 10%,#B4BCCC 100%);
    background-size: cover;
}

.bg-register-image {
    background: url({% static 'images/about.jpg' %});
    background-position: center;
    background-size: cover;
}
</style>
        {% block headerinclude %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        {% endblock headerinclude %}

         {% block footerinclude %}
        <script>
            // function myFunction(){
            //  var x = document.getElementById("id-department").value;
    //          // alert(x)
    //          if (x == 'CS')
    //              document.getElementById("id-course").innerHTML = 'BSCS'
    //          else
    //              document.getElementById("id-course").innerHTML = 'BSIT'

    //      } 
        </script>
        {% endblock footerinclude %}
        
         {% block content %} 
         <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Add payment</h1>
                       

        <form id = "form1" action="" method="POST" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
          <div class="form-group"> </div>
            <div class = "container"> </div>
                <div class = "row">
                </div>
                <div class = "row"> </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="id-firstname" name = "pay_receipt" placeholder="*Receipt" >
                    </div>
                    <div class="form-group">
                      <p>Current Date</p>
                        <input type="date" class="form-control" id="id-lastname" name = "pay_date" placeholder="*Date" >
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="id-address" name = "pay_amount" placeholder="*Amount" >
                    </div>
                    
          <br><br>
         <center>
            <a type = "button" class="btn btn-secondary btn-user btn-block" id="id_registration" href="{% url 'my_bookings_view' %}" >CANCEL</a>
            <button type="submit" class="btn btn-primary btn-user btn-block">SUBMIT</button>
         </center>
        </form>
         <hr>
                            <!-- <div class="text-center">
                                <a class="small" href="forgot-password.html">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="login.html">Already have an account? Login!</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>



        {% endblock content %}







        <br><br><br><br><br><br>


<footer class="ftco-footer ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About <span><a href="index.html">Paglakbay</a></span></h2>
              <p>Paglakbay Travel Booking System is a piece of software that allows travelers  to book flights online at anytime and anywhere.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Information</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Online Enquiry</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>General Enquiry</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Booking</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Privacy</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Refund Policy</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Call Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Experience</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Adventure</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Hotel and Restaurant</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Beach</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Nature</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Camping</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Party</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
                <h2 class="ftco-heading-2">Have a Questions?</h2>
                <div class="block-23 mb-3">
                  <ul>
                    <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                    <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                    <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                  </ul>
                </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
    
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart color-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. </p> -->
   <P>
    Gildo, Jesrael Carlo D. CSIT327 G2-C1 AY 2021 - 2022 <i aria-hidden="true">
  </P>
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="{%static 'myapp1/ecoland-master/js/jquery.min.js' %}" type="text/javascript"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="{%static 'myapp1/ecoland-master/js/jquery-migrate-3.0.1.min.js' %}" type="text/javascript"></script>
  <script src="js/popper.min.js"></script>
  <script src="{%static 'myapp1/ecoland-master/js/popper.min.js' %}" type="text/javascript"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="{%static 'myapp1/ecoland-master/js/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="{%static 'myapp1/ecoland-master/js/jquery.easing.1.3.js' %}" type="text/javascript"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="{%static 'myapp1/ecoland-master/js/jquery.waypoints.min.js' %}" type="text/javascript"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="{%static 'myapp1/ecoland-master/js/jquery.stellar.min.js' %}" type="text/javascript"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="{%static 'myapp1/ecoland-master/js/owl.carousel.min.js' %}" type="text/javascript"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="{%static 'myapp1/ecoland-master/js/jquery.magnific-popup.min.js' %}" type="text/javascript"></script>
  <script src="js/aos.js"></script>
  <script src="{%static 'myapp1/ecoland-master/js/aos.js' %}" type="text/javascript"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="{%static 'myapp1/ecoland-master/js/jquery.animateNumber.min.js' %}" type="text/javascript"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="{%static 'myapp1/ecoland-master/js/scrollax.min.js' %}" type="text/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  <script src="{%static 'myapp1/ecoland-master/js/google-map.js' %}" type="text/javascript"></script>
  
  <script src="js/main.js"></script>
  <script src="{%static 'myapp1/ecoland-master/js/main.js' %}" type="text/javascript"></script>
